/* COMMINT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* /COMMINT */

/* container generale */
#container {
    width: 100%;
    height: 100vh;
    background-color: black;
}
/* /container generale */

/* conteiner immagine */

/* /conteiner immagine */

/* freccia avanti */

/* /freccia avanti */

/* freccia indietro */

/* /freccia indietro */